<div class="col-sm-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">My App</span>
      </div>
    </div>
  </nav>
  <div class="container">
    <p>Feel free to leave some message...</p>
    <p><b>Name: </b><input type="text" name="userName" title="name" [(ngModel)]="userName"></p>
    <p><b>Message: </b><input type="text" name="userText" title="comment text" [(ngModel)]="userText"></p>
    <button class="btn btn-primary btn-sm" (click)="onPostMsg()">Post</button>
  </div>
  <div class="container">
    <hr>
    <b>Message: </b>
    <app-comment-item *ngFor="let commentItem of comments; let i = index" [comment]="commentItem" [commentId]="i+1"></app-comment-item>
  </div>
</div>

